In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

import sqlite3
from sklearn.preprocessing import StandardScaler
from scipy import sparse
from sklearn.metrics.pairwise import pairwise_distances
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
import matplotlib.pyplot as plt, seaborn as sns

from IPython.display import display

%matplotlib inline

In [2]:
moviedf = pd.read_csv('movies.csv')
ratingdf = pd.read_csv('ratings.csv')

In [3]:
moviedf.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
moviedf.shape

(9125, 3)

In [5]:
ratingdf.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [6]:
ratingdf.drop(columns = 'timestamp', axis = 1, inplace = True)
#moviedf.drop(columns = 'genres', axis = 1, inplace = True)

In [7]:
df = pd.merge(moviedf, ratingdf, on = 'movieId')

In [8]:
df.head()

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0

In [9]:
genres = ['Crime', 'Drama', 'Adventure', 'Animation', 'Fantasy', 'Children', 'Horror', 'Romance',
          'War', 'Thriller', 'Sci-Fi', 'Action', 'Mystery', 'Musical', 'Documentary']

In [10]:
df['genres'].unique().sum()

'Adventure|Animation|Children|Comedy|FantasyAdventure|Children|FantasyComedy|RomanceComedy|Drama|RomanceComedyAction|Crime|ThrillerAdventure|ChildrenActionAction|Adventure|ThrillerComedy|HorrorAdventure|Animation|ChildrenDramaAction|Adventure|RomanceCrime|DramaDrama|RomanceAction|Comedy|Crime|Drama|ThrillerComedy|Crime|ThrillerCrime|Drama|Horror|Mystery|ThrillerDrama|Sci-FiChildren|DramaAdventure|Drama|Fantasy|Mystery|Sci-FiMystery|Sci-Fi|ThrillerDocumentary|IMAXChildren|ComedyDrama|WarAction|Crime|DramaAction|Adventure|FantasyComedy|Drama|ThrillerMystery|ThrillerAnimation|Children|Drama|Musical|RomanceCrime|Mystery|ThrillerAdventure|DramaDrama|MysteryDrama|ThrillerComedy|CrimeAction|Sci-Fi|ThrillerAction|Comedy|Horror|ThrillerComedy|DramaDocumentaryAction|Crime|Drama|ThrillerCrime|Drama|RomanceAction|Adventure|DramaAction|ThrillerDrama|Horror|ThrillerComedy|Horror|RomanceAdventure|Comedy|Crime|RomanceAdventure|Children|Comedy|MusicalAction|Drama|WarCrime|Drama|ThrillerAction|Adventure|Comedy|CrimeDrama|Mystery|RomanceThrillerAdventure|Drama|IMAXAction|Drama|Romance|WarDrama|HorrorAdventure|Drama|WarComedy|WarCrime|Drama|MysteryAction|Adventure|Mystery|Sci-FiDrama|Thriller|WarAction|Romance|WesternCrime|Film-Noir|Mystery|ThrillerComedy|Crime|DramaAction|Drama|RomanceAdventure|Children|DramaAction|Adventure|Crime|ThrillerAction|Crime|Sci-FiHorrorAction|ChildrenComedy|Horror|ThrillerFantasy|Horror|MysteryComedy|FantasyHorror|Sci-FiAction|Crime|Drama|Mystery|Sci-Fi|ThrillerDrama|Musical|RomanceDrama|FantasyAction|Adventure|Sci-FiAdventure|ComedyAction|Comedy|RomanceAnimation|Children|Comedy|RomanceDrama|MusicalChildren|Comedy|FantasyAnimation|ChildrenComedy|Sci-FiAdventure|Children|Comedy|Fantasy|RomanceDrama|Fantasy|RomanceDrama|Romance|War|WesternDrama|Horror|Sci-FiAction|Drama|Sci-Fi|ThrillerComedy|Crime|Drama|ThrillerAction|Thriller|WesternChildren|Drama|Fantasy|MysteryAction|Drama|ThrillerComedy|Drama|FantasyFilm-Noir|ThrillerAction|Comedy|Sci-FiHorror|ThrillerAdventure|Drama|Sci-FiAction|Crime|HorrorChildrenDrama|Film-Noir|RomanceDrama|Mystery|ThrillerAction|Crime|Fantasy|ThrillerComedy|Drama|Romance|WarAction|ComedyAdventure|Children|RomanceAdventure|Animation|Children|Drama|Musical|IMAXDrama|Horror|Mystery|ThrillerAction|Comedy|Crime|FantasyAdventure|Comedy|WesternAction|Romance|ThrillerAction|Adventure|Comedy|Romance|ThrillerDrama|Horror|Romance|ThrillerWesternDrama|Romance|WarAdventure|AnimationAction|FantasyComedy|ThrillerAction|Comedy|Crime|ThrillerHorror|Sci-Fi|ThrillerDrama|Mystery|Romance|ThrillerAction|Comedy|DramaAdventure|DocumentaryDrama|WesternAction|Adventure|Crime|Drama|Romance|ThrillerAction|Comedy|WarAction|Adventure|Sci-Fi|ThrillerAction|Adventure|Comedy|FantasyComedy|WesternComedy|MysteryComedy|Drama|Romance|ThrillerAction|Children|RomanceAction|Drama|Sci-FiAction|DramaComedy|Mystery|RomanceAction|Drama|MysteryAction|Crime|Drama|Sci-Fi|ThrillerCrime|ThrillerComedy|Crime|HorrorAction|Adventure|Fantasy|MysteryComedy|Romance|ThrillerAction|CrimeAction|Adventure|Children|Comedy|Fantasy|Sci-FiAction|Mystery|ThrillerAnimation|Children|Fantasy|MusicalAction|Adventure|Comedy|RomanceAction|Drama|WesternAction|Adventure|Animation|Children|FantasyComedy|Drama|Fantasy|Romance|ThrillerAdventure|Animation|Children|Comedy|MusicalAction|Sci-FiAdventure|Drama|WesternCrime|Horror|ThrillerAnimation|Children|Drama|Fantasy|MusicalAnimation|Children|Fantasy|Musical|Romance|IMAXAdventure|WesternAction|Comedy|CrimeFantasy|HorrorAction|Adventure|Animation|Horror|Sci-FiAction|Horror|Sci-FiCrime|Drama|Mystery|ThrillerAdventure|Animation|Children|Fantasy|Musical|RomanceRomanceAction|Crime|Drama|WarAction|Adventure|Mystery|ThrillerAdventure|Animation|Children|Fantasy|MusicalComedy|Drama|WarAdventure|Animation|Children|Comedy|Fantasy|Sci-FiAdventure|Comedy|Sci-FiDrama|Mystery|Romance|Sci-Fi|ThrillerCrimeAction|Adventure|Comedy|WarAction|AdventureDrama|Mystery|WesternComedy|Fantasy|Sci-FiAdventure|Animation|ComedyDrama|Fantasy|Horror|ThrillerAction|Adventure|Romance|ThrillerAnimation|Sci-FiAnimation|Children|ComedyFilm-NoirHorror|MysteryComedy|Fantasy|Romance|Sci-FiAction|Adventure|Drama|ThrillerComedy|Fantasy|MusicalCrime|Drama|Romance|ThrillerCrime|Drama|Musical|ThrillerSci-Fi|ThrillerChildren|Drama|FantasyAdventure|Animation|Children|MusicalAdventure|Drama|Romance|WarComedy|Musical|RomanceMusical|RomanceComedy|MusicalAction|Adventure|Mystery|Romance|ThrillerComedy|Crime|Mystery|Romance|ThrillerFilm-Noir|MysteryComedy|Drama|Musical|RomanceMusicalAdventure|Children|Fantasy|MusicalDrama|Film-Noir|Mystery|ThrillerFilm-Noir|Romance|ThrillerMystery|Romance|ThrillerCrime|Mystery|Romance|ThrillerAdventureCrime|Film-Noir|MysteryDrama|Romance|WesternChildren|Drama|Fantasy|RomanceRomance|WesternAdventure|Comedy|Romance|WarAdventure|Comedy|Crime|Drama|RomanceRomance|WarCrime|Film-NoirChildren|Comedy|WesternChildren|Comedy|Fantasy|RomanceChildren|Comedy|RomanceChildren|Comedy|DramaChildren|Comedy|MysteryAnimation|Children|Fantasy|Musical|RomanceAnimation|Children|MusicalChildren|Comedy|Fantasy|MusicalAnimation|Children|Drama|MusicalAdventure|Children|MusicalAnimation|Children|DramaAction|Horror|Sci-Fi|ThrillerDocumentary|DramaAnimation|Children|Comedy|Fantasy|Musical|RomanceCrime|Film-Noir|ThrillerDrama|Romance|ThrillerChildren|Drama|Sci-FiAction|RomanceAdventure|Comedy|FantasyAnimation|Children|Comedy|CrimeAnimation|Comedy|Drama|FantasyAction|Adventure|HorrorCrime|Drama|Film-NoirDocumentary|MusicalAction|Adventure|Comedy|Fantasy|RomanceFantasy|Sci-FiAction|Adventure|Horror|Sci-FiAction|Adventure|WesternCrime|Drama|Sci-Fi|ThrillerFilm-Noir|Mystery|ThrillerAction|Adventure|Comedy|Fantasy|HorrorAdventure|Drama|RomanceCrime|HorrorAction|Comedy|MusicalAdventure|Animation|Children|Comedy|Sci-FiDrama|Mystery|Sci-FiComedy|Fantasy|HorrorCrime|Drama|Film-Noir|ThrillerAction|Crime|Romance|ThrillerDrama|Sci-Fi|ThrillerAction|Adventure|Drama|WesternComedy|Horror|Sci-FiComedy|Musical|WarAction|Comedy|Fantasy|HorrorAction|Adventure|Drama|WarAction|Drama|Mystery|Romance|ThrillerComedy|Fantasy|RomanceCrime|Thriller|WarComedy|Mystery|ThrillerComedy|Drama|Film-NoirAction|Adventure|Animation|Sci-FiAction|WesternFantasy|Horror|Romance|ThrillerDrama|Fantasy|HorrorHorror|Mystery|ThrillerAdventure|Children|ComedyAdventure|Sci-FiAction|Mystery|Sci-FiAction|Comedy|WesternAction|HorrorAction|Comedy|Crime|Drama|Sci-FiAdventure|Animation|Comedy|CrimeComedy|Horror|Mystery|ThrillerAction|Romance|War|WesternComedy|Drama|Fantasy|RomanceAction|Adventure|Comedy|ThrillerWarCrime|Drama|Fantasy|Film-Noir|Mystery|RomanceAction|Comedy|Crime|DramaAction|Romance|Sci-Fi|ThrillerComedy|Drama|Mystery|RomanceAction|Adventure|ChildrenComedy|Crime|RomanceAction|Adventure|ComedyAction|Crime|RomanceAction|Adventure|Children|FantasyAction|Adventure|Comedy|Sci-FiAction|Adventure|Fantasy|ThrillerChildren|FantasyAdventure|RomanceAction|Thriller|WarChildren|Comedy|Romance|Sci-FiComedy|DocumentaryRomance|ThrillerComedy|Drama|Sci-FiAdventure|Animation|Children|Drama|MusicalAction|Adventure|Drama|Sci-FiAction|Children|ComedyAdventure|Film-Noir|Sci-Fi|ThrillerAdventure|Children|Fantasy|Sci-FiCrime|Drama|Fantasy|ThrillerCrime|Drama|Mystery|Romance|ThrillerComedy|Crime|Drama|Mystery|ThrillerAdventure|Children|Comedy|FantasyCrime|Drama|Romance|WarAdventure|Comedy|DramaAdventure|Comedy|RomanceAdventure|Animation|Children|Comedy|Drama|Musical|RomanceAction|Crime|Mystery|Sci-Fi|ThrillerComedy|Crime|Drama|Romance|ThrillerAnimation|Children|Fantasy|WarComedy|Drama|MusicalAdventure|Fantasy|MusicalAction|Adventure|Children|Comedy|FantasyDrama|Mystery|Sci-Fi|ThrillerAdventure|Comedy|Sci-Fi|WesternChildren|Fantasy|MusicalAdventure|Animation|Children|FantasyChildren|Sci-FiChildren|Comedy|Sci-FiAction|Adventure|Children|ComedyAdventure|Children|Drama|RomanceAdventure|Children|Sci-FiAction|Animation|Children|CrimeChildren|Comedy|Fantasy|HorrorAdventure|Children|Comedy|Fantasy|Sci-FiAction|Crime|Drama|Mystery|ThrillerDrama|Fantasy|MysteryAnimation|Children|Comedy|MusicalAnimation|Children|Comedy|Musical|RomanceChildren|Comedy|MusicalChildren|MusicalAdventure|Comedy|MusicalAdventure|Animation|Children|Crime|DramaChildren|Drama|Fantasy|Mystery|ThrillerAdventure|Children|Fantasy|WesternAnimation|Children|Comedy|Drama|FantasyAction|Crime|Mystery|ThrillerAdventure|Animation|Children|Drama|FantasyAdventure|Animation|Children|DramaAdventure|FantasyAdventure|Animation|Children|ComedyAdventure|Animation|Children|Musical|WesternAdventure|Fantasy|RomanceAdventure|Drama|FantasyAction|Comedy|Drama|HorrorAction|Horror|ThrillerAdventure|Fantasy|Sci-FiDrama|Film-Noir|ThrillerAdventure|Drama|Mystery|ThrillerAnimation|Comedy|Fantasy|Sci-FiHorror|Mystery|Sci-Fi|ThrillerDrama|Fantasy|ThrillerAdventure|Drama|Fantasy|RomanceSci-FiDrama|Fantasy|Mystery|RomanceAction|Sci-Fi|WarFantasy|Horror|ThrillerHorror|WesternAction|Adventure|Fantasy|HorrorAdventure|Fantasy|Romance|Sci-Fi|ThrillerComedy|Crime|MysteryAction|Drama|Romance|Sci-FiAnimation|MusicalAction|Adventure|Thriller|WarComedy|Crime|Mystery|ThrillerAction|Adventure|Children|Fantasy|Mystery|ThrillerAction|Adventure|Children|DramaAction|Adventure|Drama|Fantasy|ThrillerHorror|Mystery|Sci-FiDrama|Horror|Sci-Fi|ThrillerAction|Comedy|Romance|ThrillerAction|WarAdventure|Comedy|ThrillerAction|Sci-Fi|Thriller|WesternDrama|Romance|Sci-Fi|ThrillerDrama|Film-NoirAction|Adventure|Comedy|Fantasy|Horror|ThrillerAction|Adventure|Crime|Sci-Fi|ThrillerComedy|Film-Noir|ThrillerHorror|RomanceComedy|Horror|Musical|Sci-FiComedy|Romance|Sci-FiAnimation|Comedy|MusicalAction|Comedy|Sci-Fi|WesternAction|Comedy|FantasyAdventure|Drama|ThrillerAction|Adventure|Comedy|Fantasy|MysteryComedy|Horror|MusicalAdventure|Animation|Children|Drama|Sci-FiDrama|Horror|MysteryAction|MysteryComedy|Horror|Romance|ThrillerAction|Drama|Romance|ThrillerAnimation|Horror|Mystery|ThrillerAdventure|Children|Comedy|DramaAdventure|Sci-Fi|ThrillerAdventure|Animation|Comedy|Fantasy|MusicalAnimation|Children|FantasyAction|Adventure|Comedy|Drama|WarCrime|Drama|WesternDrama|Film-Noir|Mystery|RomanceMusical|Romance|WarMysteryAdventure|Comedy|Fantasy|Sci-FiDrama|Fantasy|MusicalAction|Crime|Sci-Fi|ThrillerAdventure|Animation|Children|Comedy|Crime|Fantasy|MysteryAction|Adventure|Animation|Drama|FantasyAdventure|Animation|Children|Fantasy|Sci-FiFantasy|Horror|Mystery|RomanceCrime|Romance|ThrillerAction|Fantasy|Horror|Mystery|ThrillerDrama|Romance|Sci-FiAnimation|Children|Musical|IMAXAction|Comedy|HorrorAction|Crime|Thriller|WesternFantasy|Horror|Mystery|ThrillerAdventure|Crime|Drama|RomanceAdventure|Crime|DramaAnimation|ComedyAction|Children|Comedy|Fantasy|Sci-FiAction|Children|FantasyAction|Adventure|Drama|Thriller|WesternCrime|Horror|Mystery|ThrillerCrime|Drama|MusicalAdventure|Children|Fantasy|Musical|RomanceAction|Adventure|Comedy|WesternAction|Drama|Thriller|WesternAdventure|Animation|Fantasy|Sci-FiComedy|Horror|Sci-Fi|ThrillerAdventure|Drama|Romance|Sci-FiFilm-Noir|Horror|Mystery|ThrillerAction|Adventure|Animation|Children|Sci-FiAction|Fantasy|Horror|Sci-Fi|ThrillerAction|Comedy|Crime|RomanceAdventure|Horror|Sci-FiHorror|Musical|ThrillerAdventure|Animation|Children|Sci-FiAdventure|Comedy|CrimeAction|Drama|War|WesternAction|Crime|Mystery|Romance|ThrillerRomance|Sci-FiAction|Crime|Drama|Thriller|WesternAction|Adventure|Fantasy|Sci-FiAdventure|Comedy|HorrorAnimation|Comedy|FantasyAction|Adventure|WarAction|Crime|Drama|Horror|ThrillerCrime|MysteryAdventure|Comedy|Mystery|RomanceAdventure|Animation|Children|Comedy|Fantasy|RomanceComedy|Drama|Mystery|ThrillerComedy|Drama|Romance|WesternAdventure|Documentary|IMAXAnimation|Drama|Sci-Fi|IMAXComedy|Musical|Sci-FiDrama|Musical|MysteryCrime|MusicalComedy|Musical|WesternAction|Animation|Comedy|Crime|Drama|Romance|ThrillerAction|Adventure|Drama|RomanceComedy|Fantasy|Horror|Musical|ThrillerAction|Adventure|Drama|Romance|ThrillerAction|Comedy|Romance|WarAction|Adventure|Comedy|DramaAdventure|ThrillerCrime|Drama|Film-Noir|Mystery|ThrillerAnimation|Drama|FantasyDrama|Fantasy|Mystery|Sci-FiDrama|Fantasy|Horror|Thriller|WarFantasy|Mystery|ThrillerAction|Adventure|Comedy|Drama|Romance|ThrillerMystery|Romance|Sci-Fi|ThrillerAdventure|Crime|Drama|ThrillerAnimationComedy|Drama|MysteryAdventure|Comedy|Crime|Drama|Fantasy|Mystery|Sci-Fi|ThrillerAnimation|FantasyMusical|Sci-FiDrama|Fantasy|Horror|Mystery|ThrillerDrama|Fantasy|Mystery|Romance|ThrillerAnimation|Fantasy|Horror|Sci-FiDocumentary|WarMusical|WesternAction|Adventure|Sci-Fi|IMAXCrime|Horror|MysteryAdventure|Animation|Children|WesternAdventure|Children|Comedy|Fantasy|MysteryAdventure|Drama|Horror|Mystery|ThrillerAction|Animation|Children|ComedyAction|Comedy|Horror|Sci-FiComedy|Drama|Fantasy|Sci-FiAction|Adventure|Fantasy|RomanceComedy|Crime|Romance|ThrillerAdventure|WarComedy|Crime|Musical|MysteryAdventure|Animation|FantasyAnimation|Comedy|WarDrama|Fantasy|WarAnimation|Drama|WarFantasy|Musical|RomanceDocumentary|HorrorAction|Horror|Mystery|Sci-FiAction|Comedy|DocumentaryDocumentary|Drama|MusicalAdventure|Animation|Children|Sci-Fi|IMAXComedy|Drama|HorrorAnimation|Children|Drama|FantasyComedy|Crime|Drama|MusicalAction|Adventure|Crime|Drama|ThrillerDrama|Film-Noir|MysteryComedy|Documentary|MusicalAction|Animation|Sci-Fi|ThrillerAdventure|Children|Comedy|MysteryMystery|Sci-FiAdventure|Children|Comedy|Fantasy|MusicalAction|Adventure|Animation|Children|Fantasy|Sci-FiAction|Adventure|Sci-Fi|Thriller|IMAXAction|Drama|Horror|Sci-Fi|ThrillerDrama|War|WesternComedy|Crime|Mystery|RomanceComedy|War|WesternAction|Adventure|Comedy|Crime|ThrillerAction|Fantasy|Sci-FiAction|Comedy|ThrillerAdventure|Comedy|Crime|ThrillerComedy|Fantasy|MysteryAnimation|Drama|RomanceAdventure|MusicalAction|Fantasy|HorrorFantasy|Horror|Sci-Fi|ThrillerComedy|Musical|Romance|WesternDrama|Fantasy|Sci-FiChildren|Comedy|Crime|MusicalAction|Adventure|Animation|FantasyCrime|DocumentaryComedy|Drama|Musical|MysteryAdventure|Comedy|Drama|Fantasy|Mystery|Sci-Fi|ThrillerAdventure|Thriller|WesternComedy|Crime|Drama|Mystery|RomanceAction|Crime|Fantasy|Sci-Fi|ThrillerCrime|Fantasy|HorrorAction|Adventure|Comedy|Crime|DramaComedy|Drama|Mystery|Sci-Fi|ThrillerAction|Drama|Horror|ThrillerComedy|Fantasy|Horror|ThrillerAction|Drama|Romance|WesternAdventure|Animation|Drama|Fantasy|Sci-FiComedy|Crime|Drama|Film-Noir|MusicalAction|Adventure|Drama|FantasyComedy|Crime|Drama|RomanceAdventure|Drama|Romance|Thriller|WarCrime|Drama|Film-Noir|Romance|ThrillerAction|Comedy|Crime|Drama|Horror|ThrillerAction|Adventure|Children|Comedy|MysteryAnimation|Children|Comedy|Musical|WesternAction|Drama|HorrorComedy|Crime|Drama|MysteryComedy|Fantasy|Musical|RomanceMusical|Romance|WesternAction|Drama|Thriller|WarComedy|Crime|Drama|Musical|Mystery|RomanceAdventure|Comedy|WarComedy|Crime|WesternDrama|Fantasy|Horror|MysteryDrama|Thriller|WesternCrime|Horror|Sci-FiAnimation|Fantasy|ThrillerChildren|Comedy|Fantasy|Sci-FiAction|Adventure|Animation|Comedy|Crime|MysteryAdventure|Animation|Children|Comedy|Musical|RomanceAction|Adventure|Drama|Sci-Fi|ThrillerAdventure|Fantasy|IMAXAction|Crime|Horror|Mystery|ThrillerComedy|Fantasy|ThrillerAction|Adventure|Drama|Romance|WarComedy|Documentary|DramaCrime|Drama|Film-Noir|RomanceCrime|Drama|HorrorAdventure|Comedy|Fantasy|MusicalAdventure|Animation|DramaChildren|Musical|RomanceComedy|Drama|Fantasy|MysteryAction|Crime|FantasyComedy|Drama|Sci-Fi|WarAdventure|Drama|Horror|Sci-Fi|ThrillerAction|Adventure|Animation|ComedyAction|Adventure|Animation|Children|ComedyAdventure|Animation|Children|Fantasy|IMAXAction|Adventure|Drama|Mystery|ThrillerAction|Fantasy|Horror|ThrillerFantasyAdventure|Crime|Horror|ThrillerCrime|Film-Noir|RomanceCrime|Documentary|WarChildren|Comedy|Musical|RomanceAdventure|Animation|Children|Comedy|Drama|Fantasy|Musical|RomanceAction|Crime|Drama|Film-Noir|ThrillerDrama|Horror|WarFantasy|WesternAdventure|Comedy|Horror|RomanceComedy|Drama|Romance|Sci-FiAction|Fantasy|Horror|RomanceAnimation|Fantasy|MysteryAction|Animation|Crime|Drama|Film-Noir|Mystery|Sci-Fi|ThrillerAdventure|Animation|Comedy|Fantasy|RomanceDrama|Romance|Thriller|WarAdventure|Animation|Children|Musical|RomanceAction|Documentary|Drama|ThrillerAction|Adventure|Comedy|Sci-Fi|ThrillerAction|Animation|Drama|Fantasy|Sci-FiDrama|Fantasy|Romance|Sci-FiDrama|Horror|Mystery|Romance|ThrillerCrime|Drama|Mystery|Thriller|WarAction|Animation|HorrorDrama|Sci-Fi|WarAction|Animation|Drama|Sci-FiDrama|Mystery|Romance|WarAction|Animation|Drama|Sci-Fi|ThrillerChildren|Comedy|Crime|Drama|FantasyComedy|Drama|Fantasy|Musical|RomanceAction|Horror|Sci-Fi|WarAdventure|Animation|Fantasy|Musical|Sci-FiCrime|Documentary|DramaAnimation|Drama|Mystery|Sci-Fi|ThrillerComedy|Crime|Drama|Horror|MysteryAdventure|Children|Comedy|Fantasy|IMAXAnimation|DocumentaryDrama|Horror|Mystery|Sci-Fi|ThrillerDrama|Horror|MusicalAnimation|Fantasy|Sci-Fi|WarAction|Animation|Fantasy|Sci-FiAction|Adventure|Crime|DramaDocumentary|Drama|Sci-FiAdventure|Animation|Fantasy|RomanceAction|Fantasy|Horror|Mystery|Sci-Fi|ThrillerAdventure|Comedy|Crime|Drama|Mystery|ThrillerComedy|Crime|MusicalAdventure|Animation|Children|Comedy|Fantasy|Sci-Fi|IMAXAdventure|Animation|Comedy|FantasyAdventure|Drama|War|WesternAnimation|Fantasy|Sci-Fi|ThrillerAnimation|Comedy|DramaAction|Crime|Film-Noir|Mystery|ThrillerHorror|Mystery|RomanceChildren|DocumentaryAction|Crime|IMAXAction|Adventure|Comedy|Musical|Romance|ThrillerAdventure|Animation|Children|Comedy|Fantasy|WarAction|Adventure|Horror|Mystery|Sci-Fi|ThrillerAction|Crime|Drama|Thriller|WarAction|Drama|Musical|WarCrime|Drama|Horror|ThrillerAnimation|Comedy|Fantasy|Musical|RomanceAction|Adventure|Animation|Fantasy|Sci-FiAdventure|Children|Drama|FantasyComedy|Drama|Musical|Romance|WarAction|Comedy|Horror|Romance|Sci-FiAction|Adventure|Animation|Children|Comedy|Sci-FiAdventure|Drama|Horror|ThrillerAdventure|Fantasy|Thriller|IMAXCrime|Drama|Thriller|WarAction|Adventure|Comedy|Drama|RomanceAdventure|Drama|Thriller|WarAction|Comedy|Crime|WesternAction|Fantasy|Sci-Fi|ThrillerAction|Drama|Fantasy|Horror|Mystery|Sci-Fi|ThrillerAction|Sci-Fi|Thriller|IMAXAction|Crime|MysteryCrime|Drama|Film-Noir|MysteryAction|Animation|Film-Noir|Sci-Fi|ThrillerAction|Adventure|Thriller|IMAXAdventure|Comedy|Drama|Fantasy|RomanceDrama|Film-Noir|Horror|MysteryChildren|Comedy|Drama|Musical|RomanceAnimation|Children|Fantasy|MysteryAction|Comedy|Fantasy|IMAXAdventure|Animation|Children|Comedy|Fantasy|IMAXComedy|Romance|Thriller|WesternAction|Crime|Drama|RomanceAdventure|Comedy|Drama|FantasyAdventure|Animation|Comedy|Fantasy|Romance|Sci-FiFantasy|MusicalAdventure|Comedy|Sci-Fi|ThrillerAdventure|Animation|Children|Comedy|IMAXAnimation|HorrorDocumentary|Drama|WarAction|Adventure|Crime|Drama|Thriller|WarChildren|Comedy|Drama|FantasyAction|Fantasy|ThrillerAction|Comedy|Crime|MysteryAction|Fantasy|War|IMAXComedy|Drama|Horror|Sci-Fi|ThrillerDrama|Fantasy|Mystery|ThrillerAction|Adventure|Animation|Children|Comedy|FantasyAction|Crime|Horror|Sci-Fi|ThrillerAdventure|Drama|Sci-Fi|ThrillerAnimation|Comedy|Fantasy|MusicalAction|Adventure|Drama|Thriller|WarAction|Adventure|Animation|Comedy|Fantasy|Mystery|Sci-FiCrime|Drama|Fantasy|Mystery|ThrillerAction|Crime|Horror|ThrillerAnimation|Mystery|Sci-FiAdventure|Crime|ThrillerAction|Adventure|Crime|Horror|ThrillerComedy|Drama|Fantasy|MusicalAdventure|Drama|Fantasy|IMAXDrama|Fantasy|Musical|RomanceAdventure|Comedy|Fantasy|RomanceAction|Crime|Drama|WesternDocumentary|FantasyAction|Adventure|Comedy|Drama|ThrillerAction|Adventure|Animation|Crime|FantasyAnimation|DramaAction|Adventure|Animation|Fantasy|IMAXComedy|Drama|Sci-Fi|ThrillerComedy|Drama|Horror|ThrillerAdventure|Animation|Children|Comedy|Fantasy|Musical|RomanceAction|Horror|Sci-Fi|Thriller|IMAXAnimation|Comedy|Sci-FiDrama|Horror|Musical|ThrillerAction|Mystery|Sci-Fi|ThrillerAnimation|Comedy|Drama|Romance|Sci-FiAdventure|Children|Drama|Fantasy|IMAXAdventure|Romance|ThrillerCrime|Drama|WarAction|Crime|Drama|IMAXDocumentary|Musical|IMAXAction|Children|Sci-Fi|IMAXAction|Animation|Children|Comed

In [11]:
genre_count = moviedf['genres'].value_counts()

In [12]:
genre_list =[]

In [13]:
# for i in genre_count:
#     if genres.contains(i):
#         genres.append(genre_list)
#     else:
#         print('no')

In [14]:
genre_list

[]

In [15]:
(moviedf['genres']=="Thriller").count()

9125

In [16]:
df.tail()

,movieId,title,genres,userId,rating
99999,161944,The Last Brickmaker in America (2001),Drama,287,5.0
100000,162376,Stranger Things,Drama,73,4.5
100001,162542,Rustom (2016),Romance|Thriller,611,5.0
100002,162672,Mohenjo Daro (2016),Adventure|Drama|Romance,611,3.0
100003,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary,547,5.0

In [17]:
df.shape

(100004, 5)

In [18]:
df['rating'].mean()

3.543608255669773

In [19]:
df.rating.mean()

3.543608255669773

In [20]:
pivot = pd.pivot_table(df, index = 'userId', columns='title', values= 'rating')

In [21]:
pivot.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
sparse_pivot = sparse.csr_matrix(pivot.T.fillna(0))

In [23]:
sparse_pivot

<9064x671 sparse matrix of type '<class 'numpy.float64'>'
	with 100003 stored elements in Compressed Sparse Row format>

In [24]:
distances = pairwise_distances(sparse_pivot, metric='cosine')

In [25]:
distance_df = pd.DataFrame(distances, index=pivot.columns, columns=pivot.columns)

In [26]:
distance_df.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",0.000000,1.0,1.0,0.835601,0.979609,1.0,0.985954,1.000000,1.0,0.996834,...,1.0,1.0,1.0,1.000000,1.0,1.000000,1.0,1.000000,1.0,1.0
$9.99 (2008),1.000000,0.0,1.0,1.000000,1.000000,1.0,1.000000,0.920526,1.0,0.843670,...,1.0,1.0,1.0,1.000000,1.0,0.986101,1.0,0.941782,1.0,1.0
'Hellboy': The Seeds of Creation (2004),1.000000,1.0,0.0,1.000000,1.000000,0.0,1.000000,0.782643,1.0,1.000000,...,1.0,1.0,1.0,1.000000,1.0,1.000000,1.0,1.000000,1.0,1.0
'Neath the Arizona Skies (1934),0.835601,1.0,1.0,0.000000,0.875965,1.0,0.914564,1.000000,1.0,0.980741,...,1.0,1.0,1.0,1.000000,1.0,1.000000,1.0,1.000000,1.0,1.0
'Round Midnight (1986),0.979609,1.0,1.0,0.875965,0.000000,1.0,0.989403,0.856214,1.0,0.863837,...,1.0,1.0,1.0,0.878433,1.0,1.000000,1.0,1.000000,1.0,1.0

# Selecting Two Movies to Work With

In [27]:
titles = []
for i in distance_df.columns:
    titles.append(i)

In [28]:
distance = []
for i in distance_df['Jurassic Park (1993)']:
    distance.append(i)

In [29]:
distance2 = []
for i in distance_df['Interstellar (2014)']:
    distance2.append(i)

In [30]:
df_work = pd.DataFrame(data = titles, columns = ['Jurassic Park (1993)'])

In [31]:
df_work['Interstellar (2014)'] = titles

In [32]:
df_work['JP Distance'] = distance
df_work['Int. Distance'] = distance2
df_work.head()

,Jurassic Park (1993),Interstellar (2014),JP Distance,Int. Distance
0,"""Great Performances"" Cats (1998)","""Great Performances"" Cats (1998)",1.000000,1.00000
1,$9.99 (2008),$9.99 (2008),0.985535,1.00000
2,'Hellboy': The Seeds of Creation (2004),'Hellboy': The Seeds of Creation (2004),0.920876,1.00000
3,'Neath the Arizona Skies (1934),'Neath the Arizona Skies (1934),1.000000,1.00000
4,'Round Midnight (1986),'Round Midnight (1986),0.952892,0.89253

In [33]:
df_work['Average Distance'] = (df_work['JP Distance'] + df_work['Int. Distance'])/2

In [34]:
df_work.head()

,Jurassic Park (1993),Interstellar (2014),JP Distance,Int. Distance,Average Distance
0,"""Great Performances"" Cats (1998)","""Great Performances"" Cats (1998)",1.000000,1.00000,1.000000
1,$9.99 (2008),$9.99 (2008),0.985535,1.00000,0.992767
2,'Hellboy': The Seeds of Creation (2004),'Hellboy': The Seeds of Creation (2004),0.920876,1.00000,0.960438
3,'Neath the Arizona Skies (1934),'Neath the Arizona Skies (1934),1.000000,1.00000,1.000000
4,'Round Midnight (1986),'Round Midnight (1986),0.952892,0.89253,0.922711

In [35]:
df_work['Average Distance Sq'] = ((df_work['JP Distance']**2) + (df_work['Int. Distance']**2))/2

In [36]:
df_work.head()

,Jurassic Park (1993),Interstellar (2014),JP Distance,Int. Distance,Average Distance,Average Distance Sq
0,"""Great Performances"" Cats (1998)","""Great Performances"" Cats (1998)",1.000000,1.00000,1.000000,1.000000
1,$9.99 (2008),$9.99 (2008),0.985535,1.00000,0.992767,0.985639
2,'Hellboy': The Seeds of Creation (2004),'Hellboy': The Seeds of Creation (2004),0.920876,1.00000,0.960438,0.924007
3,'Neath the Arizona Skies (1934),'Neath the Arizona Skies (1934),1.000000,1.00000,1.000000,1.000000
4,'Round Midnight (1986),'Round Midnight (1986),0.952892,0.89253,0.922711,0.852307

In [37]:
m = df_work.groupby(['Jurassic Park (1993)', 'Interstellar (2014)'])[['JP Distance','Int. Distance']].apply(np.median)
m.name = 'Median'

df_work.join(m, on=['Jurassic Park (1993)', 'Interstellar (2014)'])
# The median turns out to be exactly the same as the Average Distance

df_work.head()

,Jurassic Park (1993),Interstellar (2014),JP Distance,Int. Distance,Average Distance,Average Distance Sq
0,"""Great Performances"" Cats (1998)","""Great Performances"" Cats (1998)",1.000000,1.00000,1.000000,1.000000
1,$9.99 (2008),$9.99 (2008),0.985535,1.00000,0.992767,0.985639
2,'Hellboy': The Seeds of Creation (2004),'Hellboy': The Seeds of Creation (2004),0.920876,1.00000,0.960438,0.924007
3,'Neath the Arizona Skies (1934),'Neath the Arizona Skies (1934),1.000000,1.00000,1.000000,1.000000
4,'Round Midnight (1986),'Round Midnight (1986),0.952892,0.89253,0.922711,0.852307

# Writing the Function that will create this data frame

In [38]:
def movie_generator(movie1, movie2):
    
    titles = []
    for i in distance_df.columns:
        titles.append(i)
    
    distance = []
    for i in distance_df[movie1]:
        distance.append(i)
    
    distance2 = []
    for i in distance_df[movie2]:
        distance2.append(i)

    df_generator = pd.DataFrame(data = titles, columns = [movie1])
    df_generator[movie2] = titles

    df_generator[movie1 + ' Distance'] = distance
    df_generator[movie2 + ' Distance'] = distance2

    df_generator['Average Distance'] = (df_generator[movie1 + ' Distance'] + df_generator[movie2 + ' Distance'])/2
    df_generator['Average Distance Sq'] = ((df_generator[movie1 + ' Distance']**2) + (df_generator[movie2 + ' Distance']**2)/2)

    return df_generator.sort_values(by = ['Average Distance Sq'], ascending=True).iloc[2:7, :]

In [39]:
movie_generator('Twilight (2008)', "Interstellar (2014)")

,Twilight (2008),Interstellar (2014),Twilight (2008) Distance,Interstellar (2014) Distance,Average Distance,Average Distance Sq
4141,It Follows (2014),It Follows (2014),0.573344,0.732375,0.652859,0.596910
5575,National Treasure: Book of Secrets (2007),National Treasure: Book of Secrets (2007),0.576753,0.775018,0.675886,0.632971
8013,The Spectacular Now (2013),The Spectacular Now (2013),0.557893,0.820002,0.688947,0.647446
3693,"Holiday, The (2006)","Holiday, The (2006)",0.543718,0.842735,0.693227,0.650731
6380,"Proposition, The (2005)","Proposition, The (2005)",0.577987,0.822484,0.700235,0.672309

In [40]:
def movie_generator(movie1, movie2):
    
    
#     search = movie1
#     for title in moviedf.loc[moviedf['title'].str.contains(search), 'title'].values:
#         print(title)
#         print('Average', pivot[title].mean())
#         print('Number of ratings', pivot[title].count())
#         print('')
#         print('')
    
    
    
    titles = []
    for i in distance_df.columns:
        titles.append(i)
    
    distance = []
    for i in distance_df[movie1]:
        distance.append(i)
    
    distance2 = []
    for i in distance_df[movie2]:
        distance2.append(i)

    df_generator = pd.DataFrame(data = titles, columns = [movie1])
    df_generator[movie2] = titles

    df_generator[movie1 + 'Distance'] = distance
    df_generator[movie2 + 'Distance'] = distance2

    df_generator['Average Distance'] = (df_generator[movie1 + 'Distance'] + df_generator[movie2 + 'Distance'])/2
    df_generator['Average Similarity'] = ((1-df_generator[movie1 + 'Distance']) + (1-df_generator[movie2 + 'Distance'])/2)
    df_generator['Weight'] = 1 - (np.abs(df_generator[movie1 + 'Distance']-df_generator[movie2 + 'Distance']))
    df_generator['Score'] = df_generator['Weight'] * df_generator['Average Distance']
    #df_generator[movie1 + ' and ' + movie2] = df_generator.sort_values(by = ['Score'], ascending=True).iloc[2:12, 0:2]
    return df_generator.sort_values(by = ['Score'], ascending=True).iloc[2:7, 0:2]

In [41]:
# My movie DF is from the years 1915 - 2016 inclusive

In [43]:
search = 'Braveheart'
for title in moviedf.loc[moviedf['title'].str.contains(search), 'title'].values:
    print(title)

Braveheart (1995)

In [44]:
movie_generator('Titanic (1997)', 'Braveheart (1995)')

                         Titanic (1997)                  Braveheart (1995)
2933                Forrest Gump (1994)                Forrest Gump (1994)
7856  Terminator 2: Judgment Day (1991)  Terminator 2: Judgment Day (1991)
8332                   True Lies (1994)                   True Lies (1994)
1968          Dances with Wolves (1990)          Dances with Wolves (1990)
4307               Jurassic Park (1993)               Jurassic Park (1993)

In [ ]:
Hit_or_Not = {'Person A pick': 'Exorcist, The (1973)',
              'Person B pick': 'Die Hard (1988)',
              'Person A': 'yes',
              'Person B': 'yes',
             'Person A pick': 'Interstellar (2014)',
              'Person B pick': 'Never Been Kissed (1999)',
              'Person A': 'yes',
              'Person B': 'no',
             'Person A pick': 'Bad Boys (1995)',
              'Person B pick': 'Clerks II (2006)',
              'Person A': 'yes',
              'Person B': 'no',
             'Person A pick': 'Clueless (1995)',
              'Person B pick': 'Harold and Maude (1971)',
              'Person A': 'yes',
              'Person B': 'yes',
             'Person A pick': 'Fight Club (1999)',
              'Person B pick': 'Moulin Rouge (2001)',
              'Person A': 'yes',
              'Person B': 'no',
             'Person A pick': 'Field of Dreams (1989)',
              'Person B pick': 'Bio-Dome (1996)',
              'Person A': 'no',
              'Person B': 'no',
             'Person A pick': 'Shining, The (1980)',
              'Person B pick': 'Casablanca (1942)',
              'Person A': 'yes',
              'Person B': 'yes',
             'Person A pick': 'Pokemon 4 Ever (a.k.a. Pokémon 4: The Movie) (2002)',
              'Person B pick': 'Ratatouille (2007)',
              'Person A': 'no',
              'Person B': 'no',
             'Person A pick': 'Gladiator (2000)',
              'Person B pick': 'Interstellar (2014)',
              'Person A': 'yes',
              'Person B': 'yes',
             'Person A pick': 'Predator (1987)',
              'Person B pick': 'Team America: World Police (2004)',
              'Person A': 'yes',
              'Person B': 'yes',
             }